.card{
  background-color: rgba(0, 0, 0, 0.541);
}




.likebtn{
  color: blue;
}

.wowbtn{
  color: orange;
}

.angrybtn{
  color: orangered;
}

.reaction{
  background-color: rgb(201, 152, 152);
  width: 90px;
  padding: 10px 0px;
  margin: 5px;
  text-align: center;
  
}